@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:204-632-2327</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">Toll-free:1.800.903.7707</span>
        <span>425.555.0199</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Student Services: </span>
        <span><a href="mailto:Register@rrc.ca">Register@rrc.ca</a></span>
    </p>
    <p>
        <span class="label">Continuing Education:</span>
        <span><a href="mailto:cde@rrc.ca">cde@rrc.ca</a></span>
    </p>
    <p>
        <span class="label">International:</span>
        <span><a href="mailto:intled@rrc.ca">intled@rrc.ca</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        2055 Notre Dame Avenue<br />
        Winnipeg, MB R3H 0J9
    </p>
</section>